################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/minpad
/x64/Debug/minpad.Build.CppClean.log
/x64/Debug/minpad.exe
/x64/Debug/minpad.exe.recipe
/x64/Debug/minpad.ilk
/x64/Debug/minpad.log
/x64/Debug/minpad.obj
/x64/Debug/minpad.pdb
/x64/Debug/minpad.res
/x64/Debug/minpad.vcxproj.FileListAbsolute.txt
/x64/Debug/vc143.idb
/x64/Debug/vc143.pdb
/x64/Debug/minpad.tlog/CL.command.1.tlog
/x64/Debug/minpad.tlog/Cl.items.tlog
/x64/Debug/minpad.tlog/CL.read.1.tlog
/x64/Debug/minpad.tlog/CL.write.1.tlog
/x64/Debug/minpad.tlog/link.command.1.tlog
/x64/Debug/minpad.tlog/link.read.1.tlog
/x64/Debug/minpad.tlog/link.write.1.tlog
/x64/Debug/minpad.tlog/minpad.lastbuildstate
/x64/Debug/minpad.tlog/rc.command.1.tlog
/x64/Debug/minpad.tlog/rc.read.1.tlog
/x64/Debug/minpad.tlog/rc.write.1.tlog
/x64/Release/minpad.tlog/CL.command.1.tlog
/x64/Release/minpad.tlog/Cl.items.tlog
/x64/Release/minpad.tlog/CL.read.1.tlog
/x64/Release/minpad.tlog/CL.write.1.tlog
/x64/Release/minpad.tlog/link.command.1.tlog
/x64/Release/minpad.tlog/link.read.1.tlog
/x64/Release/minpad.tlog/link.write.1.tlog
/x64/Release/minpad.tlog/link.write.2u.tlog
/x64/Release/minpad.tlog/minpad.lastbuildstate
/x64/Release/minpad.tlog/rc.command.1.tlog
/x64/Release/minpad.tlog/rc.read.1.tlog
/x64/Release/minpad.tlog/rc.write.1.tlog
/x64/Release/minpad.Build.CppClean.log
/x64/Release/minpad.exe.recipe
/x64/Release/minpad.iobj
/x64/Release/minpad.ipdb
/x64/Release/minpad.log
/x64/Release/minpad.obj
/x64/Release/minpad.pdb
/x64/Release/minpad.res
/x64/Release/minpad.vcxproj.FileListAbsolute.txt
/x64/Release/vc143.pdb
/note.exe
